grant codeBase "file:/D:/neonWoekspace/Junit/RmiLearning/bin"{

    // permissions to read system properties required by setup program
    permission java.util.PropertyPermission "examples.activation.impl.codebase", "read";
    permission java.util.PropertyPermission "examples.activation.policy", "write,read";
    permission java.util.PropertyPermission "examples.activation.file", "read";
    permission java.util.PropertyPermission "examples.activation.name", "read";
    permission java.util.PropertyPermission "java.security.policy", "read";

    // permission to connect to the activation system and the registry
    permission java.net.SocketPermission "*:1098-1099", "connect";
};